.card-image img {
  width: 100%;       /* prend toute la largeur de la carte */
  height: 220px;     /* fixe une hauteur identique */
  object-fit: cover; /* rogne l’image proprement sans déformation */
  display: block;    /* supprime les espaces blancs */
}
.brand-logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.brand-logo span {
  color: #00c853; /* vert Materialize */
}
